[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "genpathmox"]
	path = genpathmox
	url = https://github.com/cran/genpathmox
	shallow = true
	registered = true
[submodule "qcpm"]
	path = qcpm
	url = https://github.com/glamb85/qcpm
	shallow = true
	registered = true
